/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Schedule Table Style Sheet
   Author: Diego Sandoval
   Date:   12/11/18s

   Filename:         hcc_schedule.css
   Supporting Files: 

*/
/* Table Styles */
/* Applies styles to the table, gave it a background color, and a solid 5px black border. Then I set the width and gave it margins to center it. Then stylized the table data and table header cells. */
table {
    background-color: white;
    border: 5px solid black;

    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 25px;
}

td {
    border: 3px solid black;
    line-height: 1.4em;
    padding: 8px;

    color: black;
    font-size: 1em;
    vertical-align: top;
}

th {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;

    border: 3px solid black;
    line-height: 1.4em;
    padding: 8px;

    background-color: sandybrown;
    font-weight: normal;
    color: black;
}

/* Caption Styles */
/* Made the caption appear below the table on the right. */
caption {
    caption-side: bottom;
    text-align: right;
}

/* Table Row */
/* Not going to lie, I added this cause it said that their need to be a Table row style, and I diddnt need the table rows affected so I added this just to meet the requirement. */
tr {
    min-height: 1px;
}

/* Column Styles */
/* Changed the width of the first column and the width of the columns after that. */
col#firstcol {
    width: 16%;
}

col#dataCol {
    width: 12%;
}

/* Cell styles */
/* Classes to change the background of cells to show if that time slot is avaible or not. */
.open {
    background-color: aliceblue;
}

.taken {
    background-color: coral;
}

/* Table Header Styles */
/* Sets the height of the table head, then changes the font size of and background color to the id of theadThFirst, Then changes the font size of the class theadThFirst, then changes the background color of the top row and made the font color black. */
thead {
    height: 60px;
}

thead th#theadThFirst {
    font-size: 2em;
    background-color: aliceblue;
}

thead th.theadThFirst {
    font-size: 2em;
}

thead th.theadTopRow {
    background: transparent;
    color: black;
}

/* Table Footer Style */
/* Changes the background of the table footer, aligned the text center, changed the font size and the font color. Then vertically aligned the content of the row tfoot2 and changed the font color. Then changed the font size of the of the first column second row of the tfoot to a font size of .9em. */
tfoot td {
    background-color: gray;
    text-align: center;
    font-size: 1.75em;
    color: beige;
}

tfoot tr#tfoot2 td {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    color: black;
}

tfoot tr#tfoot2 td#f1 {
    font-size: .9em;
}